@import url("https://fonts.googleapis.com/css2? family= Roboto & display=swap");

body {
  background-color: white;
  color: black;

  font-size: 16px;
  font-weight: normal;

  font-family: "Roboto", sans-serif;
  /*font-family: arial, Arial, Helvetica, sans-serif;*/
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
section {
  padding: 20px 30px 20px;
}
/*великі букви в параграфі*/
h1 {
  text-transform: uppercase;
}
/* параграф підкреслений*/
h2 {
  text-decoration: underline;
}
/* класс для стилізації, id для логики
колір та шрифт текста*/
#t {
  color: brown;
  font-size: 25px;
}
/*звернення до класу font та тега span*/
h3 p.font {
  text-decoration: dashed;
}

h3 p span {
  text-shadow: (1px 1px 2px chocolate);
}
