@import url("https://fonts.googleapis.com/css2? family= Roboto & display=swap");

body {
  background-color: white;
  color: black;

  font-size: 16px;
  font-weight: normal;

  font-family: "Roboto", sans-serif;
  /*font-family: arial, Arial, Helvetica, sans-serif;*/
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
section {
  padding: 20px 30px 20px;
}
/*великі букви в заголовкі*/
h1 {
  text-transform: uppercase;
}

/* заголовок підкреслений*/
h2 {
  text-decoration: underline;
  /*відступ між буквами*/
  letter-spacing: 5px;
  /*відступ між словами*/
  word-spacing: 5px;
  /*отступ від параграфів*/
  line-height: 50px;
}

/* класс для стилізації, id для логики
колір та шрифт текста*/
#t {
  color: brown;
  font-size: 25px;
}
/*звернення до класу font та тега span (слово з великої букви)*/
div p.font {
  color: rgb(240, 16, 45);
}

div p > span {
  text-transform: capitalize;
  color: aqua;
}
/*псевдоелементи
p::first-letter {
  font-size: 30px;
}*/
p::first-line {
  text-decoration: underline;
}
p::selection {
  background-color: yellow;
  color: red;
}
/*допис до та після заголовка*/
h2::before {
  content: "Найпоширенні  ";
  color: deepskyblue;
}
h2::after {
  content: "  для використання";
  color: darkgreen;
}
/* наследование (inherit) рамки тега р от тега section*/
section {
  border: 3px dotted #000;
  margin-bottom: 10px;
}
p {
  border: inherit;
}
/*рамка для div, отмена рамок для р в блоке div*/
.block {
  border: 3px solid red;
  padding: 20px;
  margin: 50px;
}
div p {
  border: none;
}

.block1 {
  border: 3px dashed blue;
  padding: 30px;
  margin: 10px;
}

div .perenos {
  overflow: auto;
}

/*.perenos {
  /* overflow: hidden;
  white-space: break-space;
}*/
/* позіцюювання відносне*/
.block2 {
  background: darkorange;
  color: aqua;
  border: 3px solid #000;
  font-size: 30px;
  width: 100px;
  height: 100px;
  margin: 10px;
  /*відтолкнутися від ліва на 40 на від верха на 40px*/
  position: relative;
  left: 40px;
  top: 40px;
  /*блок поверх слоев*/
  z-index: 1;
  overflow: scroll;
}

/*абсолютне позиціювання*/
.block3 {
  background: darkorange;
  color: aqua;
  border: 3px solid #000;
  font-size: 30px;
  min-width: 100px;
  max-width: 300px;
  min-height: 100px;
  margin: 10px;
  position: absolute;
  /*bottom: -3450px;
  right: 50px;*/
}

/* позиціювання relative*/
.perenos {
  position: relative;
}
